body {
  background-image: url('/static/white.png');
}

h1,h4,h5,h6,p {
  color: #000;
}

.demo-card-wide, .mdl-card {
  width: 300px;
  margin-top: 50px;
  margin-left: 50px;
  float: left;
}

#title {
  background-color: #ffffff;
  color: #000;
}

.mdl-card__title  {
  background-color: #000;
  width: 100%;
  height: 450px;
}

.mdl-card__title-text  {
  overflow: hidden;
  color: #ffffff;
  margin-bottom: -30px;
}
