body {
  background-image: linear-gradient( 135deg, #F761A1 10%, #8C1BAB 100%);
}

h1,h3,h4,h5,h6,p {
  font-family: 'Roboto';
  color: #757575;
}


h2 {
  color: #000;
}

.mdl-card__actions, .mdl-card--border {
  padding-left: 15px;
}

.mdl-card__title {
  height: 350px;
  width: 100%;
  background: url("https://static1.squarespace.com/static/55ffe109e4b07406ad1d5bc4/t/5a816049c830253b865a6b45/1518433094861/dft-intangible-01.jpg?format=750w") center/cover
}

.mdl-card__title-text {
  margin-bottom: -27px;
}

.demo-card-wide, .mdl-card {
  width: 600px;
  margin-top: 50px;
  margin-right: 350px;
  float: right;
}
