body {
  background-color: #ffffff;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

.mdl-button .mdl-js-button, .mdl-js-ripple-effect {
  margin-top: 15px;
  color: #000;
  font-size: 15px;
}

.yeezy {
  background: url('/static/yeezy.png') center/cover;
  float: left;
  margin-left: 200px;
  margin-top: -150px;
  height: 800px;
  width: 1100px;
}

h1 {
  background-color: #000;
}

#title {
  background-color: #ffffff;
  color: #000;
  opacity: 0.8;
}

.mdl-navigation {
  background-color: #ffffff;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.demo-avatar {
  margin-left: 10px;
  margin-top: 25px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

#lnk1 {
  font-size: 18px;
  color: #000;
}

#lnk2 {
  margin-top: 20px;
  font-size: 15px;
  color: #000;
}

#main1 {
  padding-top: 50px;
}

#myname {
  color: #000;
  margin-left: 10px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 19px;
  margin-bottom: 15px;
}
