@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');

body {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

div.mdl-layout__header-row .mdl-layout-title {
  font-family: 'Permanent Marker';
  padding-right: 50px;
  color: #ffffff;
}

div.mdl-layout__drawer .mdl-layout-title {
  font-family: 'Permanent Marker';
  padding-right: 50px;
  color: #000;
}

a, .mdl-navigation__link {
    color: #000;
    font-family: 'Roboto';
    width: 800;
    size: 50px;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    color: #ffffff;
}
