@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');

body {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

#register {
  margin: 97px;
}

.mdl-layout__drawer-button {
  display: none;
}

.demo-card-wide, .mdl-card__title {
  color: #ffffff;
  font-weight: 600;
  height: 220px;
  width: 420px;
  background: url("https://amp.businessinsider.com/images/59c14b709803c50d098b68e0-750-563.jpg") center/cover;
}

.demo-card-wide, .mdl-card {
  width: 420px;
}
