@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');

body {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

#register {
  margin-top: 5px;
  margin-left: 50px;
  float: left;
  width: 500px;
}

.mdl-layout__drawer-button {
  display: none;
}

h1,h2,h3,h4,h5{
  float: right;
}

.demo-card-wide, .mdl-card__title {
  color: #ffffff;
  font-weight: 600;
  height: 220px;
  width: 500px;
  background: url("https://amp.businessinsider.com/images/59c14b709803c50d098b68e0-750-563.jpg") center/cover;
}
#about {
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/373c8d60918085.5a5dd378bd3f3.jpg") center/cover;
  width: 800px;
  height: 700px;
}

#about1 {
  margin-right: 175px;
  float: right;
  height: 700px;
  width: 700px;
}

#text {
  height: 500px;
  font-size: 17px;
  color: #696969;
}
