@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');

body {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  background-color: #ffffff;
}

.mdl-card__title {
  color: #ffffff;
  font-weight: 600;
  height: 370px;
  width: 100%;
  background: url('https://i.pinimg.com/originals/c7/dd/8f/c7dd8fc0b8a9417167f52b38406f860e.jpg') center/cover;
}

#info {
  min-width: 200px;
  min-height: 200px;
  height: 550px;
  width: 400px;
  float: left;
  margin-left: 300px;
  margin-top: 50px;
}

#password {
  min-width: 200px;
  min-height: 200px;
  height: 550px;
  width: 400px;
  float: left;
  margin-left: 100px;
  margin-top: 50px;
}

#SignUp {
  margin-left: 706px;
}

#signin {
  margin-left: 250px;
  padding:5px;
  overflow: hidden;
  margin-top: 10px;
  float: left;
  width: 450px;
}

#signin1 {
  color: #ffffff;
  font-weight: 600;
  height: 220px;
  width: 100%;
  background: url("https://images.solecollector.com/complex/image/upload/gvyojh4trq7tyttkxrlb.jpg") center/cover;
}
