{% extends "Home1/wrapper.html" %}

{% block content %}
<link rel="stylesheet" href="/static/contact.css">

<body>
  <header class="mdl-layout__header mdl-layout__header--transparent" id="title">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title" id="title">Contact Me</span>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div id="contacts">
      <h3>My name is Michael, I'm from in Belarus</h3>
      <h5>Email: retvizanjr@gmail.com</h5>
      <h5>Instagram: @michaelshkarubski</h5>
      <h5>Phone number: +375299567008</h5>
    </div>
  </main>
</body>
{% endblock %}
