{% extends "Home1/wrapper.html" %}

{% block content %}
<body>
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Home</span>
      <div class="mdl-layout__header-row">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/accounts/signup"><i class="material-icons">person_add</i>Sign Up</button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/accounts/login"><i class="material-icons">person</i>Sign In</button>
      </div>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">
        <h3>Hello, how are you?</h3>
    </div>
  </main>
</body>
{% endblock %}
