{% extends "Home1/wrapper.html" %}

{% block content %}
<link rel="stylesheet" href="/static/main.css" />

<body>
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title" id="title">Home</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a href="/accounts/register"><button id="lnk2" class="mdl-button mdl-js-button mdl-js-ripple-effect">Sign Up</button></a>
        <a href="/users/login"><button id="lnk2" class="mdl-button mdl-js-button mdl-js-ripple-effect">Sign In</button></a>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="yeezy">
      <h1>Hey!</h1>
    </div>
  </main>
</body>
{% endblock %}
