<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <title>CH1LLian - Main Page</title>

</head>
<body style="background:#800080">
      <div class="navbar-header">
        <a class="navbar-brand">CH1LLIAN>> </a>
      </div>
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a class="nav-link" href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a class="nav-link" href="/profile"><span class="glyphicon glyphicon-tower"></span> Profile</a></li>
            <li><a class="nav-link" href="/history"><span class="glyphicon glyphicon-search"></span> Search History </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link" href="/accounts/signup"><span class="glyphicon glyphicon-user"></span>  Sign Up</a></li>
            <li><a class="nav-link" href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span>  Sign In</a></li>
        </ul>
    </div>

    {% block content %}

    {% endblock %}
</body>
</html>
